<!DOCTYPE html>
<head>
<title>Assinatura</title>
</head>
<body>
    <div class="content">
        <table>
            <th>Componente de assinatura digital</th>
            <tr>
                {% if logado == True %}
                <td>
                   <a href="/certificado">certificado</a>
                </td>
                {% else  %} 
                <td>
                    <a href="/login">Logar</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <form method=post enctype=multipart/form-data>
                        <input type=file name=file>
                      </form>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/assinatura">Assinar Arquivo</a>
                </td>
            </tr>          
        </table>
    </div>
    <div class="content">
        <table>
            {% if assinado == True %}
            <tr>
                <td>
                    <p>Arquivo Assinado!</p>
                </td>
                <td>
                    <a href="/">voltar</a>
                </td>
            </tr>
            {% endif %}
        </table>
        
    </div>
    
</body>

</html>