<!DOCTYPE html>
<head>
<title>Assinatura</title>
</head>
<body>
    <div class="content">
        <table>
            <th>Componente de assinatura digital</th>
            <tr>
                <td>
                    <form action="/assinar" method="POST" enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Assinar>
                    </form>
                </td>
            </tr>
            {% if assinado == True %}
            <tr>
                <td>
                    <p>Arquivo Assinado!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/">voltar</a>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</body>
</html>